*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #e1e1e1;
  color: #242424;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}


img,
svg {
  width: 100%;
  height: 100%;
}


.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
  border: 1px solid greenyellow;
}


.btn {
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}

.btn-outline {
  color: #0A143A;
  background-color: transparent;

}
.btn-primary {
  color: #fff;
  background-color: #256EEB;
  background: #256eeb;
  border-radius: 5px;
}


/* * header */
.header {
  padding-top: 30px;
}

.header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.header-logo span {
  line-height: 28px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 700;
  color: #0A143A;
}

.header-burger {
  width: 30px;
  height: 19px;
  display: none;
}

.header-burger__btn {
  background-color: transparent;
  border: none;
  opacity: 1;
  transition: opacity 200ms ease;
}

.header-burger__btn:hover {
  opacity: .6;
}


/* * search */
.search {
  padding-top: 27px;
  padding-bottom: 25px;
}

.search-box {
  width: 100%;
}

.search-form {
  color: #0a143a;
  border-radius: 6px;
  border: 3px solid #256eeb;
  background-color: #256eeb;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 100%;
}
.search-input {
  display: flex;
  justify-content: center;
  align-items: end;
  align-self: stretch;
  flex-grow: 1;
  /* width: 100%; */
  /* height: 100%; */
  padding: 14px 21px;
  color: #0a143a;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  column-gap: 3px;
  padding: 12px 20px;
  border-radius: 3px;
}
.search-btn:hover {
  opacity: 0.7;
}
.search-btn__icon {
  width: 15px;
  height: 15px;
}
.search-btn__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}



/* * content */
/* *** todo products */



/* media */ 

@media (width <= 1200px) {
  .container {
    max-width: 930px;
    border: 1px solid orangered;
  }
}

@media (width <= 991px) {
  .container {
    max-width: 730px;
    border: 1px solid orange;
  }
}

@media (width <= 786px) {
  .container {
    border: 1px solid lawngreen;
    border: none;
    width: 100%;
  }
  .header-burger {
    display: block;
  }
  .header-controls {
    display: none;
  }
}



.visually-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  user-select: none;
  font-size: 1px;
  line-height: 0;
  scale: 0;
  transform: scale(0);
}